<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/echarts.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<form action="/api/DC/em" method='post'>
    <div class="form-group">
        <label for="server">server</label>
        <input type="text" class="form-control" id="server" name="server"  placeholder="server">
    </div>
    <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" id="username" name="username"  placeholder="username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"  name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
    {% block body01 %}
    {% endblock %}
    {% block body02 %}
    {% endblock %}
    {% block body03 %}
    {% endblock %}
    {% block body04 %}
    {% endblock %}
    {% block body05 %}
    {% endblock %}
    {% block body06 %}
    {% endblock %}
    {% block body07 %}
    {% endblock %}
    {% block body08 %}
    {% endblock %}
    {% block body09 %}
    {% endblock %}

</body>
</html>