<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/echarts.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>


    {% block body01 %}
    {% endblock %}
    {% block body02 %}
    {% endblock %}
    {% block body03 %}
    {% endblock %}
    {% block body04 %}
    {% endblock %}
    {% block body05 %}
    {% endblock %}
    {% block body06 %}
    {% endblock %}
    {% block body07 %}
    {% endblock %}
    {% block body08 %}
    {% endblock %}
    {% block body09 %}
    {% endblock %}

</body>
</html>