
{% extends 'index.html' %}
{% import 'formmacro.html'as forms %}
{% import 'listmacro.html'as lists %}
{# #}
{% block title %}人事主页{%endblock%}
{% block left -%}
    <ul class="list-group">
    {% for subpage in subpages %}
        <li class="list-group-item"><a href="{{ subpage.url }}">{{ subpage.text }}</a></li>

    {% endfor %}
    </ul>
{%- endblock %}
{% block pagearea -%}
	{% if employeenow -%}
	{%- endif %}
	{% if employeelist -%}
		{{lists.table(employeelist)}}
	{%- endif %}
	{% if employeeform -%}
		{{forms.form(bindurl,employeeform)}}
	{%- endif %}
	{% if employeeanalyze -%}
	{%- endif %}
{%- endblock %}