{# 表格模板 d = {
        "id":'employeelist',
        "name": 'employeelist',
        "css":'table table-hover table-bordered',
        "colnames": colnames,
        "lang":chi,
        "step": 5,
        "pages": 1,
        "data":data
    } #}
{% macro table(data) -%}
    <table class="{{ data.css }}" id="{{ data.id }}" name="{{ data.name }}">
        <tr>
        {% if data.lang %}
            {% for colname in data.lang -%}
                <th>{{ colname }}</th>
            {%- endfor  %}
        {% else %}
            {% for colname in data.colnames -%}
                <th>{{ colname }}</th>
            {%- endfor  %}
        {% endif %}
        </tr>
        {% for tr in data.data -%}
        <tr>
            {% for td in tr -%}
            <td>{{ td }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{%- endmacro %}